
    body{
        background: linear-gradient(90deg, #000, #808080);
    }

    .imagensDecorativas{
        display: inline;
    }

    .lua{
        display: inline;
        position: static;
    }

    .foguete{
        display: inline;
        position: absolute;
        left: 20px;
    }

    .satelite{
        display: inline;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .formulario{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #FFFF;
        background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(42px);
        border-radius: 16px;
        position: absolute;
        top: 20px;
        margin-left: 3%;
        height: 40%;
    }

    .formulario input{
        width: 80%;
        padding: 4%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
    }

    .formulario button{
        width: 90%;
        padding: 5% 0 5% 0;
        margin-top: 50px;
        background: rgba(0, 0, 0, 0.98);
        filter: blur(0.5px);
        border-radius: 6px;
        color: #FFFF;
    }

    .formulario h1{
        margin-bottom: 80px;
        font-size: 45px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    


